<div class="flex flex-column main-container" style="border: none;">


  <div class="flex justify-content-center title-container" style="width: 100%;">
    <h1>Herramienta de creación de publicaciones online</h1>
  </div>

  <div class="flex justify-content-center message-container" style="width: 100%;">
    <p>Ofrece la mejor experiencia a tus asistentes con nuestras soluciones de ticketing online, control de acceso,
      pagos cashless y gestión de personal.</p>
  </div>



  <div class="flex justify-content-between align-items-center image-container" style="width: 100%; border: none;">
    <div class="hidden md:block" style="margin-left: 5%;">
      <img class="img-fluid" src="assets/Picture22.png" alt="" style="width: 500px; border: none;">
    </div>

    <div class="flex justify-content-center message-container" style="width: 100%;">
      <input type="text" placeholder="Correo electrónico">
      <button class="btn-email">Empezar ahora</button>
    </div>

    <div class="hidden md:block" style="margin-right: 5%;">
      <img class="img-fluid" src="assets/Picture6.png" alt="" style="width: 457px; height: auto; border: none;">
    </div>
  </div>

</div>

<app-modules></app-modules>