.topics-container {
  background-color: var(--cf-color-background);
  /* background-color: red; */
  height: calc(100vh - 66px);
  border: none;
}

@media screen and (max-width: 599px) {
  .topics-container {
    height: calc(100vh - 58px);
  }
}

h1 {
  font-size: 50px;
  line-height: 1.2;
}

.txt-info {
  font-size: 17px;
  color: #7f7f7f;
  width: 50%;
  text-align: center;
}

.main-container {
  /* background-color: #f6f9ff; */
  height: auto;
  padding-bottom: 60px;
}

.title-container {
  margin-top: 150px;
  color: black;
}

mat-card {
  border-radius: 15px;
  padding: 15px;
  height: auto;
}

.list-container {
  border: none;
  margin-bottom: 50px;
  background-color: var(--cf-color-background);

}

.element-container {
  border: none;
  /* margin-bottom: 50px; */
}



.btn-feed {
  height: 35px;
  width: 90px;

  background-color: var(--cf-color-primary);
  border-color: var(--cf-color-primary);
  border: 1px;


  color: white;

  /* border-radius: 0px 15px 5px 0px; */
  border-radius: 10px;
  transition: background-color 0.1s ease;
  transition-delay: 0.1s;
}

.btn-feed:hover {
  background-color: var(--cf-color-secondary);
  border-color: var(--cf-color-secondary);

}

.btn-feed:not(:disabled):hover {
  border-color: var(--cf-color-secondary);
  background-color: var(--cf-color-secondary);
}


.btn-repo {
  border-radius: 10px;
  height: 35px;
  
  border: 1px;
  color: var(--cf-color-primary);
  border-color: var(--cf-color-primary);
  /* background-color: var(--cf-color-secondary); */


  /* transition: box-shadow 1s ease; */
  /* transition: background-color ease; */
  /* transition-delay: 0.1s; */

  margin-right: 5px;

}

/* .btn-repo:hover {
  background-color: #105bfd;
  border-color: #105bfd;
} */


.btn-repo:hover {
  color: white;
  border-color: var(--cf-color-secondary);
  background-color: var(--cf-color-secondary);
}