mat-toolbar {
  background-color: var(--cf-color-primary);
  /* border-bottom: 2px solid #bab8b8; */
}

mat-toolbar-row {
  justify-content: space-between;
}
.group-options {
  height: 100%;
}

.full-list-options {
  border: none;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.btnMenu {
  height: 100%;
  color: white !important;
}

.btnMenu:hover {
  background-color: var(--cf-color-secondary);
}

.btnLogin {
  margin-left: 15px;
  height: 100%;
  color: white !important;
}

.btnLogin:hover{
  background-color: var(--cf-color-secondary);
}

.btnRegister {
  height: 100%;
  /* width: 100%; */
  color: white !important;
}

.btnRegister:hover{
  background-color: var(--cf-color-secondary);
}

.btnLogout {
  margin-left: 15px;
  
}

.icon-menu {
  color: white;
}

.btn-menu :hover {
  background-color: var(--cf-color-secondary) !important;
}

.secuRow {
  height: 220px;

}

.group {
  margin-top: 10px;
}





.btnLogout{
  background-color: #a0a0a0;
}