<form action="" [formGroup]="createParagraphFormGroup">

  <mat-form-field style="width: 100%;">
    <textarea matInput name="" id="" formControlName="createParagraphContent" placeholder="Contenido del parrafo" cdkTextareaAutosize cdkAutosizeMinRows="5"
      cdkAutosizeMaxRows="300"></textarea>
  </mat-form-field>
  
  <div class="flex justify-content-end mb-4" style="width: 100%; border: none;">
    <button class="flex align-items-center btnDeleteParagraph" (click)="deleteParagraph()">
      <mat-icon class="mr-2">delete</mat-icon>
      Eliminar
    </button>
  </div>
  
  <button (click)="verParrafo()">
    #dev# Ver Parrafo
  </button>

</form>

