<div class="register-container flex justify-content-center" style="border: none;">
  <div class="contenido xl:px-8 flex justify-content-center align-items-start mt-4"
    style="border: none; width: 90%; height: auto;">

    <div class="register-card">
      <mat-card appearance="outlined" class="px-2 mb-4">

        <mat-card-header>
          <mat-card-title class=" mt-2">Register</mat-card-title>
        </mat-card-header>


        <mat-card-content class="mt-4 mb-3 grid">

          <form action="" [formGroup]="registerGroup">


            <mat-form-field floatLabel="always" class="example-full-width col-12 col-md-6">
              <mat-label>Apellido Paterno</mat-label>
              <input matInput formControlName="registerApePaterno" [errorStateMatcher]="matcher" appTextOnly [maxlength]="30">

              @if (registerGroup.get('registerApePaterno').hasError('required')) {
              <mat-error>Apellido Paterno is <strong>required</strong></mat-error>
              }
            </mat-form-field>

            <mat-form-field floatLabel="always" class="example-full-width col-12 col-md-6">
              <mat-label>Apellido Materno</mat-label>
              <input matInput formControlName="registerApeMaterno" [errorStateMatcher]="matcher" appTextOnly [maxlength]="30">
              @if (registerGroup.get('registerApeMaterno').hasError('required')) {
              <mat-error>Apellido Materno is <strong>required</strong></mat-error>
              }
            </mat-form-field>

            <mat-form-field floatLabel="always" class="example-full-width  col-12 col-md-6">
              <mat-label>Nombres</mat-label>
              <input matInput formControlName="registerNombres" [errorStateMatcher]="matcher" appTextOnly [maxlength]="30">
              @if (registerGroup.get('registerNombres').hasError('required')) {
              <mat-error>Nombres is <strong>required</strong></mat-error>
              }
            </mat-form-field>

            <mat-form-field floatLabel="always" class="example-full-width  col-12 col-md-6">
              <mat-label>Usuario</mat-label>
              <input matInput formControlName="registerUsuario" [errorStateMatcher]="matcher" [maxlength]="30">
              @if (registerGroup.get('registerUsuario').hasError('required')) {
              <mat-error>Usuario is <strong>required</strong></mat-error>
              }
              @if (registerGroup.get('registerUsuario').hasError('minlength') &&
              !registerGroup.get('registerUsuario').hasError('required')) {
              <mat-error>Debe tener al menos 6 caracteres</mat-error>
              }

            </mat-form-field>

            <mat-form-field floatLabel="always" class="example-full-width col-12 col-md-6">
              <mat-label>Contraseña</mat-label>
              <input matInput formControlName="registerContrasena" [errorStateMatcher]="matcher" type="password"
              [maxlength]="30">
              @if (registerGroup.get('registerContrasena').hasError('required')) {
              <mat-error>Contraseña is <strong>required</strong></mat-error>
              }
              @if (registerGroup.get('registerContrasena').hasError('minlength') &&
              !registerGroup.get('registerContrasena').hasError('required')) {
              <mat-error>Debe tener al menos 8 caracteres</mat-error>
              }
            </mat-form-field>

            <mat-form-field floatLabel="always" class="example-full-width col-12 col-md-6">
              <mat-label>Repetir contraseña</mat-label>
              <input matInput formControlName="registerRepetirContrasena" [errorStateMatcher]="matcher" type="password"
                [maxlength]="30">
              @if (registerGroup.get('registerRepetirContrasena').hasError('required')) {
              <mat-error>Contraseña is <strong>required</strong></mat-error>
              }
              @if (registerGroup.get('registerRepetirContrasena').hasError('minlength') &&
              !registerGroup.get('registerRepetirContrasena').hasError('required')) {
              <mat-error>Debe tener al menos 8 caracteres</mat-error>
              }
            </mat-form-field>

            <mat-form-field floatLabel="always" class="example-full-width col-12">
              <mat-label>Correo</mat-label>
              <input matInput formControlName="registerCorreo" [errorStateMatcher]="matcher" [maxlength]="30">

              @if (registerGroup.get('registerCorreo').hasError('email') &&
              !registerGroup.get('registerCorreo').hasError('required')) {
              <mat-error>Please enter a valid email address</mat-error>
              }
              @if (registerGroup.get('registerCorreo').hasError('required')) {
              <mat-error>Correo is <strong>required</strong></mat-error>
              }

            </mat-form-field>

            <button class="mt-2" [disabled]="!flagSubmit" (click)="submit()">Registrar</button>

          </form>

        </mat-card-content>


      </mat-card>
    </div>


  </div>
</div>