<div class="mt-5 flex flex-column main-container" style="border: none;">

  <div class="flex justify-content-center main-title-container" style="width: 100%;">
    <h2>Módulos ofrecidos en la aplicación</h2>
  </div>

</div>

<div class="mt-1 flex justify-content-center" style="border: none;">

  <div class="grid mt-4 xl:px-8 flex justify-content-evenly" style="width: 100%; border: none;">


    <div class="col-12 col-lg-4 element-container" style="border: none;">
      <div class="title-container" style="text-align: center;">
        Modulo de Posts
      </div>
      <div class="content-container">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, quos impedit temporibus id sequi minus. Nostrum
          sequi ea rerum est non officiis! Ducimus modi, debitis alias veniam neque quis assumenda?
        </p>
        <div>
          <button class="btn-vermas">Ver más</button>
        </div>
      </div>

    </div>




    <div class="col-12 col-lg-4 element-container" style="border: none;">
      <div class="title-container">
        Modulo de Categorias
      </div>
      <div class="content-container">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, quos impedit temporibus id sequi minus. Nostrum
          sequi ea rerum est non officiis! Ducimus modi, debitis alias veniam neque quis assumenda?
        </p>
        <div>
          <button>Ver más</button>
        </div>
      </div>
    </div>



    <div class="col-12 col-lg-4 element-container" style="border: none; ">
      <div class="title-container">
        Modulo de Sample
      </div>
      <div class="content-container">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, quos impedit temporibus id sequi minus. Nostrum
          sequi ea rerum est non officiis! Ducimus modi, debitis alias veniam neque quis assumenda?
        </p>
        <div>
          <button>Ver más</button>
        </div>
      </div>
    </div>
  </div>


  
</div>