<div class="my-5 flex flex-column main-container" style="border: none;">

  <div class="flex justify-content-center main-title-container" style="width: 100%;">
    <h2>Módulos ofrecidos en la aplicación</h2>
  </div>

</div>

<div class="mt-5 pb-8 flex justify-content-center" style="border: none;">

  <div class="main-row grid mt-4 xl:px-8 flex justify-content-evenly" style="width: 100%; height: auto; border: none;">


    <div class="col-12 col-lg-4 element-container" style="border: none;">
      <div class="title-container">
          Modulo de Posts
      </div>
      
      <div class="content-container flex flex-column justify-content-between">
        
        <p>En este módulo se exponen todas las publicaciones realizadas por los usuarios, junto con la lista de comentarios asociados.</p>
        
        <div class="mt-3" style="border: none;">
          <button class="btn-vermas">Ver más</button>
        </div>
      </div>

    </div>


    <div class="col-12 col-lg-4 element-container" style="border: none;">
      <div class="title-container">
        Modulo de Temas
      </div>
      <div class="content-container flex flex-column justify-content-between">
        <p>
          En este módulo se muestra la lista de temas sobre los cuales es posible realizar publicaciones dentro de la aplicación.
        </p>
        <div class="mt-3">
          <button class="btn-vermas">Ver más</button>
        </div>
      </div>
    </div>



    <div class="col-12 col-lg-4 element-container" style="border: none; ">
      <div class="title-container">
        Modulo de Categorias
      </div>
      <div class="content-container flex flex-column justify-content-between">
        <p>
          En este módulo se visualizan las categorías de los temas, tales como: nuevo descubrimiento, curiosidades, entre otros.
        </p>
        <div class="mt-3">
          <button class="btn-vermas">Ver más</button>
        </div>
      </div>
    </div>
  </div>


  
</div>