h1 {
  font-size: 60px;
  color: #7f7f7f;
  line-height: 1.2;

}

mat-card {
  /* margin: 1rem; */
  /* margin: 2rem; */
  /* margin: 40px; */
  /* width: 80%; */
  border-radius: 15px;
}

img {
  height: 260px;
  object-fit: cover;
}

.btn-edit:hover {
  color: #3b88ff;
  /* Elige el color que desees */
}


.btn-delete:hover {
  color: #c56464;
  /* Elige el color que desees */
}

table {
  /* margin: 0px 25px 0px 25px; */
  margin-right: 25px;
  border-radius: 15px;
}

input {
  /* width: 100%; */
}

.btnAddSection {
  height: 35px;
  /* width: 200px; */

  border-radius: 10px;
  border-color: var(--cf-color-primary);
  background-color: var(--cf-color-primary);
  border: 1px;

  color: white;

  /* color: var(--cf-color-primary) !important; */
}

.btnAddSection:not(:disabled):hover {
  border-color: var(--cf-color-secondary);
  background-color: var(--cf-color-secondary);
}


/* usign a */
.btnAddSectionV2 {
  height: 35px;
  border-radius: 10px;
  border-color: var(--cf-color-primary);
  background-color: var(--cf-color-primary);
  border: 1px;
  color: white;
  cursor: pointer;
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
}

.btnAddSectionV2:not(:disabled):hover {
  border-color: var(--cf-color-secondary);
  background-color: var(--cf-color-secondary);
}